﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Articulos.aspx.cs" Inherits="ventas.PRESENTACION.Articulos" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <table>
             <tr>
    <td>Codigo</td>
    <td><asp:TextBox ID="txtcodigo" runat="server" /> </td>
    </tr>
    <tr>
    <td>Nombre</td>
    <td><asp:TextBox ID="txtNombre" runat="server" /> </td>
    </tr>
        <tr>
    <td>descripcion</td>
    <td><asp:TextBox ID="txtDescripcion" runat="server" /> </td>
    </tr>
             <tr>
    <td>imagen</td>
    <td> 
        <asp:FileUpload ID="FileUpload1" runat="server" />
                 </td>
    </tr>
             <tr>
    <td>categoria</td>
    <td>
        <asp:DropDownList ID="ddlcategoria" runat="server" DataSourceID="SqlDataSource1" DataTextField="idcategoria" DataValueField="idcategoria">
        </asp:DropDownList>
                 <asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="<%$ ConnectionStrings:conn %>" SelectCommand="SELECT * FROM [categoria]"></asp:SqlDataSource>
                 </td>
    </tr>

             <tr>
    <td>presentacion</td>
    <td>
        <asp:DropDownList ID="ddlpresentacion" runat="server" DataSourceID="SqlDataSource2" DataTextField="idpresentacion" DataValueField="idpresentacion">
        </asp:DropDownList>
                 <asp:SqlDataSource ID="SqlDataSource2" runat="server" ConnectionString="<%$ ConnectionStrings:conn %>" SelectCommand="SELECT * FROM [descripcion]"></asp:SqlDataSource>
                 </td>
    </tr>
    <tr>
    <td></td>
    <td>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Insertar" Width="156px" />
        </td></tr>
    </table>
    </div>
        <asp:GridView ID="GridView1" runat="server">
        </asp:GridView>
    </form>
</body>
</html>
